
.icon-small-x {
  width: 17px;
  height: 17px;
}

.icon{
  width:50px;
  height:50px
}
.icon-small {
  width: 25px;
  height: 25px;
}

.circular{
  border-radius: 50%;
}
img {
  width: inherit;
  height: inherit;
}
.wrapper {
  display: flex;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
