*{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.icon-small-x {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-small-xx{
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  width:50px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-small {
  width: 25px;
  height: 25px;
}

.circular{
  border-radius: 50%;
}
img {
  width: inherit;
  height: inherit;
}
.wrapper {
  display: flex;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.masking{
  position:fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  width: 100vw;
}
.selectdisable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spliter-x {
  width: 100%;
  background-color: rgb(235, 235, 235);
  height: 1px;
  margin: auto;
}
.spliter-y{
  height: 2em;
  width: 1px;
  background-color: rgb(235, 235, 235);
}

.spliter {
  background-color: rgb(235, 235, 235);
  height: 20px;
  width: 0.5px;
}
.border-b{
  border-bottom: 1px solid rgb(235, 235, 235);
}
